*,html,body{
  margin:0;
  padding:0;
}
body,html,#__nuxt,#__layout,.defaultBody{
  height:100%;
}
.page-enter-active, .path-leave-active{
  transition: all .5s;
}

.page-enter,.page-leave-active{
  opacity: 0;
  transform: translateX(10px);
}
/* editor样式 */
.v-note-wrapper {
  box-shadow: none !important;
}

.v-note-wrapper .v-note-panel {
  box-shadow: none !important;
}

.v-note-wrapper .v-note-panel .v-note-show .v-show-content, .v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
  background: #fff !important;
}

.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper .content-input-wrapper {
  padding: 0 !important;
}

.v-note-wrapper .v-note-panel .v-note-show .v-show-content, .v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
  padding: 0 !important;
}

.s_container{
  width:1200px;
  margin:10px auto 0;
}
