.emoji-item-common {
  background: url('../../../static/images/emoji_sprite.png');
  display: block;
  float:left;
  &:hover {
    cursor: pointer;
  }
}
.emoji-size-small {
  // 表情大小
  zoom: 0.4;
}
.emoji-size-large {
  zoom: 0.5; // emojipanel表情大小
  margin: 4px;
}
.comments-list {
  margin-top: 20px;
  .comments-list-item {
    margin-bottom: 20px;
    .comments-list-item-heading {
      display: inline-block;
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        vertical-align: middle;
      }
      .comments-list-item-username {
        margin-left: 5px;
        font-weight: bold;
      }
    }
    .comments-list-item-content {
      margin: 10px 0px;
      border-bottom: 1px solid #cccccc;
      &:last-child {
        border-bottom: 0;
      }
      span {
        vertical-align: top;
      }
    }
  }
}
.comment-input {
  // height: 100px;
  width: 518px;
  // border: 1px solid #cccccc;
  // border-radius: 5px;
  padding: 10px;
  resize: none;
  &:focus {
    outline: none;
  }
}
.opration {
  display: flex;
  justify-content: space-between;
  position: relative;
  .emoji-panel-btn {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    img {
      height: 24px;
      width: 24px;
    }
  }
  .comment-send-btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background-color: #4ab3f4;
    &:hover {
      cursor: pointer;
    }
  }
  .comment-send-btn-bounce {
    position: relative;
  }
  .comment-send-btn-bounce:focus {
    outline: none;
  }
  .comment-send-btn-bounce:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 100px;
    border: 0px solid #1da1f2;
    opacity: 0.7;
    transition: all 0.1s;
  }
  .comment-send-btn-bounce:active:after {
    //.bounce active时 伪元素:after的样式
    opacity: 1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 100px;
    border: 2px solid #1da1f2;
    transition: all 0.2s;
  }
}
